include README.md
include requirements.txt
recursive-include ckanext/ddi *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ddi/fanstatic *.*
recursive-include ckanext/ddi/templates *