{% import 'macros/form.html' as form %}
{% set form_style = c.form_style or c.action %}

{% if h.ckan_version().split('.')[1] | int >= 9 %}
  {% include 'ddi/snippets/ddi_asset.html' %}
{% else %}
  {% include 'ddi/snippets/ddi_resource.html' %}
{% endif %}


{% macro file_upload(data, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='', field_name='image_url')  %}
  {% set placeholder = placeholder if placeholder else _('http://example.com/my-image.jpg') %}
  {% set url_label = url_label or _('Image URL')  %}
  {% set upload_label = upload_label or _('Image')  %}

  {% if is_upload_enabled %}
  <div class="image-upload" data-module="file-upload" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
       data-module-field_url="{{ field_url }}" data-module-field_upload="{{ field_upload }}" data-module-field_clear="{{ field_clear }}" data-module-upload_label="{{ upload_label }}" data-module-field_name="{{ field_name }}">
  {% endif %}

  {{ form.input(field_url, label=url_label, id='field-' + field_url, placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full']) }}

  {% if is_upload_enabled %}
    {{ form.input(field_upload, label=upload_label, id='field-' + field_upload, type='file', placeholder='', value='', error='', classes=['control-full']) }}
    {% if is_upload %}
      {{ form.checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    {% endif %}
  {% endif %}

  {% if is_upload_enabled %}</div>{% endif %}

{% endmacro %}


<form class="dataset-form form-horizontal" method="post" enctype="multipart/form-data" action="import" data-module="basic-form">
  {{ h.csrf_input() if 'csrf_input' in h }}

  {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />


  {% block errors %}
    {% if error_summary %}
      {% set errors = error_summary %}
    {% endif %}

    {% if errors %}
      <div class="error-explanation alert alert-error">
        <p>{{ _('Errors were found in the XML file:') }}</p>
        <ul>
          {% for key, error in errors.items() %}
            <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  {% endblock %}

  {% block basic_fields_url %}
    {% set is_upload = True %}
    {{ file_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
       is_upload_enabled=h.uploads_enabled(), is_url=false, is_upload=false,
       upload_label=_('XML File'), url_label=_('XML URL'), placeholder='http://example.com/catalog/ddi/8') }}

    {% set rdf_is_upload = True %}
    {{ file_upload(data, errors, field_url='rdf_url', field_upload='rdf_upload', field_clear='clear_rdf_upload',
       is_upload_enabled=h.uploads_enabled(), is_url=false, is_upload=false,
       upload_label=_('RDF File'), url_label=_('RDF URL'), placeholder='http://example.com/catalog/ddi/8') }}

  {% endblock %}


  {% block package_basic_fields_org %}
    {# if we have a default group then this wants remembering #}
    {% if data.group_id %}
      <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}

    {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
    {% set dataset_has_organization = data.owner_org or data.group_id %}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% set user_is_sysadmin = h.check_access('sysadmin') %}
    {% set show_organizations_selector = organizations_available %}
    {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

    {% if show_organizations_selector and show_visibility_selector %}
      <div data-module="dataset-visibility">
    {% endif %}

    {% if show_organizations_selector %}
      {% set existing_org = data.owner_org or data.group_id %}
      <div class="control-group">
        <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
        <div class="controls">
          <select id="field-organizations" name="owner_org" data-module="autocomplete">
            {% if h.check_config_permission('create_unowned_dataset') %}
               <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
            {% endif %}
            {% for organization in organizations_available if not organization.name == 'data-deposit' %}
              {# get out first org from users list only if there is not an existing org #}
              {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
              <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}

    {% if show_visibility_selector %}
      {% block package_metadata_fields_visibility %}
        <div class="control-group">
          <label for="field-private" class="control-label">{{ _('Raw Data Access Level') }}</label>
          <div class="controls">
            <select id="field-private" name="private">
              {% for option in [('True', _('Private')), ('False', _('Internally Visible'))] %}
              <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show_visibility_selector %}
      </div>
    {% endif %}

  {% endblock %}


  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you
          agree to release your contributions under an open license.
          {%- endtrans -%}
        </p>
      {% endblock %}
      <button class="btn btn-primary" id="import-btn" type="submit" name="import">{% block import_button_text %}{{ _('Import') }}{% endblock %}</button>
      {{ form.required_message() }}
    </div>
  {% endblock %}
</form>
